{% block stylesheets%}
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
{% endblock %}
{% block section2 %}
{%endblock%}
{% block body %}

<div class="main-panel" >
    <div  class="content-wrapper">



    <!-- ***** Testimonials Starts ***** -->


    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">

                        <img src="assets/images/line-dec.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row">


                {% for l in ta %}
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">

                            </div>
                            <div class="down-content">
                                <span>{{ l.nom }}</span>
                                <h4>{{ l.description }}</h4>
                                <h4>  {{ l.adresse }}  </h4>
                                <h4>{{ l.Categorie }}</h4>
                                <h4>   {{ l.nbchdispo }}</h4>
                                <h4>   {{ l.email }}  </h4>
                                <h4>   {{ l.telephone }}    </h4>

                                <h4><iframe style="border:0; width: 100%; height: 350px;" class="img-fluid" src="https://maps.google.com/maps?q=+{{ l.adresse }}+&hl=fr&z=14&amp;output=embed" frameborder="0" allowfullscreen></iframe>
                                    <div class="stars">
                                        <i class="lar la-star" data-value="1"></i><i class="lar la-star" data-value="2"></i><i class="lar la-star" data-value="3"></i><i class="lar la-star" data-value="4"></i><i class="lar la-star" data-value="5"></i>
                                    </div>
                                </h4>
                                <form>

                                    <input type="hidden" name="id" id="id" value={{ l.idHotel }}>

                                    <input type="hidden" name="note" id="note" value="0">

                                </form>
                                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

                                <script>
                                    const stars = document.querySelectorAll(".la-star");

                                    // On va chercher l'input
                                    const note = document.querySelector("#note");
                                    const idprod=document.getElementById("id");
                                    // On boucle sur les étoiles pour le ajouter des écouteurs d'évènements
                                    for(star of stars){
                                        // On écoute le survol
                                        star.addEventListener("mouseover", function(){
                                            resetStars();
                                            this.style.color = "yellow";
                                            this.classList.add("las");
                                            this.classList.remove("lar");
                                            // L'élément précédent dans le DOM (de même niveau, balise soeur)
                                            let previousStar = this.previousElementSibling;

                                            while(previousStar){
                                                // On passe l'étoile qui précède en rouge
                                                previousStar.style.color = "red";
                                                previousStar.classList.add("las");
                                                previousStar.classList.remove("lar");
                                                // On récupère l'étoile qui la précède
                                                previousStar = previousStar.previousElementSibling;
                                            }
                                        });

                                        // On écoute le clic
                                        star.addEventListener("click", function(){
                                            note.value = this.dataset.value;
                                            $.ajax({
                                                    url:"{{path('rating')}}",
                                                    type:"POST",
                                                    dataType:'json',
                                                    data:{notee:this.dataset.value,idd:idprod.value},
                                                    success: function(data) {
                                                        alert("success");
                                                    },
                                                    complete: function(data){
                                                        alert("completed");
                                                    }
                                                }
                                            );

                                        });

                                    }

                                    /**
                                     * Reset des étoiles en vérifiant la note dans l'input caché
                                     * @param {number} note
                                     */
                                    function resetStars(note = 0){
                                        for(star of stars){
                                            if(star.dataset.value > note){
                                                star.style.color = "black";
                                                star.classList.add("lar");
                                                star.classList.remove("las");
                                            }else{
                                                star.style.color = "red";
                                                star.classList.add("las");
                                                star.classList.remove("lar");
                                            }
                                        }
                                    }
                                    function makeAjax(){
                                        // url : lien vers la méthode du controlleur ou on va executer le code serveur souhaité
                                        // type : type de la requéte : post ,delete , get ,put
                                        // dataType: type des données envoyé vers le serveur
                                        // data : les données qui vont étre envoyés dans le serveur
                                        // success : la fonction qui va étre éxecuté dans le cas d'un scénario nominale sans erreurs
                                        // error  :  la fonction qui va étre éxecuté dans le cas d'un scénario avec erreurs
                                        // complete :  la fonction qui va étre éxecuté dans la fin de la requéte ajax
                                        $.ajax({
                                                url:"{{path('rating')}}",
                                                type:"POST",
                                                dataType:'json',
                                                data:{note:this.dataset.value,id:id.value},
                                                success: function(data) {
                                                    alert("success");
                                                },
                                                error:null,
                                                complete: function(data){
                                                    alert("completed");
                                                }
                                            }
                                        );

                                    }

                                </script>


                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>



        <style>
            /* =============================== CHATBOT ============================= */
            .nodeco {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            .nodeco:hover {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            .nodeco:active {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            .open-button {
                background-color: #555;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                bottom: 23px;
                right: 28px;
                width: 280px;
            }

            /* The popup chat - hidden by default */
            .chat-popup {
                display: none;
                position: fixed;
                bottom: 0;
                right: 15px;
                border: 3px solid #f1f1f1;
                z-index: 9;
            }

            /* Add styles to the form container */
            .form-container {
                max-width: 420px;
                padding: 10px;
                background-color: white;
            }

            /* Full-width textarea */
            .form-container textarea {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
                resize: none;
                min-height: 200px;
            }

            /* When the textarea gets focus, do something */
            .form-container textarea:focus {
                background-color: #ddd;
                outline: none;
            }

            /* Set a style for the submit/send button */
            .form-container .btn {
                background-color: #fdb819;
                color: white;
                padding: 8px 10px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom:10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }

            .containe{
                width : 400px ;
                height : 400px ;
                overflow : auto ;
                border : 1px solid #E6E4E1 ;
            }

            .bot {
                background-image: linear-gradient(to bottom right, #FFDB5F,#dc4225);
                border-radius : 15px ;
                padding : 4px ;
                width : 300px ;
                color : black ;
                margin : 2px ;
                border-top-left-radius: 0px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            }

            .botSender {
                background : #F7E3C3 ;
                border-radius : 10px ;
                padding : 4px 6px 4px 6px ;
                border : 1px solid black ;
                margin : 2px ;
                font-size: 15px;
                font-family : Mark\ Pro,sans-serif;

            }

            .botSender:hover {
                background : #FFCF84 ;
                border-radius : 10px ;
                padding : 4px 6px 4px 6px ;
                border : 1px solid black ;
                margin : 2px ;
                font-size: 15px;
                font-family : Mark\ Pro,sans-serif;
            }
            .botText {
                margin : 2px ;
                font
                color : black ;
                font-size: 16px;
                font-family : Mark\ Pro,sans-serif;
            }


            /* ============== CLIENT ================ */
            .client {
                background-image: linear-gradient(to bottom right, #FDFCE9,#F5F0AF);
                border-radius : 15px ;
                padding : 4px ;
                width : 300px ;
                color : black ;
                margin : 8px ;
                border-top-right-radius: 0px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                float : right ;

            }

            .cancelButton {
                padding : 0px 8px 0px 8px ;
                border : 1px solid black ;
                background-color : red;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                float : right ;
                background-image: linear-gradient(to bottom right, #FF7E75,#E9C5C2);
            }

            .cancelButton:hover {
                padding : 0px 8px 0px 8px ;
                border : 1px solid black ;
                background-color : red;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                float : right ;
                background-image: linear-gradient(to bottom right, #FF7E75,#E9C5C2);
            }


        </style>

        <button class="open-button" onclick="openForm()">Envoyer un message</button>

        <div class="chat-popup" id="myForm">
            <div action="/action_page.php" class="form-container">
                <button class="nodeco cancelButton" onclick="closeForm()">
                    -
                </button>


                <table style="width :60% ; ">
                    <tr>
                        <td valign="center" align="left"><img style="width : 26px ; height : 40px" src="https://www.pngall.com/wp-content/uploads/10/Ethereum-Logo-PNG-HD-Image.png"></td>
                        <td valign="center">
                            <h4 >Crypto Chatbot</h4>
                        </td>

                    </tr>
                </table>


                <label for="msg">
                    <b> </b>
                </label>
                <!--textarea placeholder="Type message.." name="msg" required></textarea-->

                <div class="containe" id="chat">

                    <div class="bot">
                        <div class="botText">
                            Hello, how can we help you ?
                        </div>
                        <button class="nodeco botSender" onclick="botReply(this.value)" value="1" id="StoreLocator">Avez-vous des offres spéciales pour les jeunes mariés ? </button>
                        <button class="nodeco botSender" onclick="botReply(this.value)" value="2" id="Products">Quand et comment se déroulera la réservation ?</button>
                        <button class="nodeco botSender" onclick="botReply(this.value)" value="3" id="EventPublish">Faudra-t-il payer des frais supplémentaires en cas de modification ou d’annulation ?</button>
                        <button class="nodeco botSender" onclick="botReply(this.value)" value="4" id="TechNews">Quels sont les services compris dans notre réservation ?</button>
                    </div>





                </div>

                <div style="height : 40px ; ">

                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function openForm() {
                document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }




            function botReply(value) {
                if (value==1) {

                    // ========== client ==========
                    var containe = document.createElement("div");
                    containe.classList.add('client');

                    var message = document.createElement("div");
                    message.classList.add('botText');

                    var text2 = document.getElementById("StoreLocator").innerHTML ;

                    var text = document.createTextNode(text2);
                    message.appendChild(text);

                    containe.appendChild(message);
                    var element = document.getElementById("chat");
                    element.appendChild(containe);

                    var newElem1 = document.createElement("BR");
                    var newElem2 = document.createElement("BR");
                    var newElem3 = document.createElement("BR");
                    element.appendChild(newElem1) ;
                    element.appendChild(newElem2) ;
                    element.appendChild(newElem3) ;

                    // ======== bot =================

                    var containe = document.createElement("div");
                    containe.classList.add('bot');

                    var message = document.createElement("div");
                    message.classList.add('botText');

                    var text = document.createTextNode("Oui: ");
                    message.appendChild(text);

                    var a = document.createElement('a');
                    var linkText = document.createTextNode("");
                    a.appendChild(linkText);
                    //a.title = "my title text";
                    a.href = "https://microsoftedge.microsoft.com/addons/detail/metamask/ejbalbakoplchlghecdalmeeeajnimhm?hl=en-US";
                    a.style="color : white ; " ;
                    message.appendChild(a);

                    containe.appendChild(message);

                    var element = document.getElementById("chat");
                    element.appendChild(containe);



                } else if (value=="2") {
                    // ========== client ==========
                    var containe = document.createElement("div");
                    containe.classList.add('client');

                    var message = document.createElement("div");
                    message.classList.add('botText');

                    var text2 = document.getElementById("Products").innerHTML ;

                    var text = document.createTextNode(text2);
                    message.appendChild(text);

                    containe.appendChild(message);
                    var element = document.getElementById("chat");
                    element.appendChild(containe);

                    var newElem1 = document.createElement("BR");
                    var newElem2 = document.createElement("BR");
                    var newElem3 = document.createElement("BR");
                    element.appendChild(newElem1) ;
                    element.appendChild(newElem2) ;
                    element.appendChild(newElem3) ;

                    // ======== bot =================

                    var containe = document.createElement("div");
                    containe.classList.add('bot');

                    var message = document.createElement("div");
                    message.classList.add('botText');

                    var text = document.createTextNode("Notre agence de voyage se charge de toutes les démarches de réservation de vols, hôtels et autres prestations convenues dans le contrat.: ");
                    message.appendChild(text);

                    var a = document.createElement('a');
                    var linkText = document.createTextNode("");
                    a.appendChild(linkText);
                    //a.title = "my title text";
                    a.href = "https://microsoftedge.microsoft.com/addons/detail/metamask/ejbalbakoplchlghecdalmeeeajnimhm?hl=en-US";
                    a.style="color : white ; " ;
                    message.appendChild(a);

                    containe.appendChild(message);

                    var element = document.getElementById("chat");
                    element.appendChild(containe);


                } else if (value=="3") {
                    // ========== client ==========
                    var containe = document.createElement("div");
                    containe.classList.add('client');

                    var message = document.createElement("div");
                    message.classList.add('botText');

                    var text2 = document.getElementById("EventPublish").innerHTML ;

                    var text = document.createTextNode(text2);
                    message.appendChild(text);

                    containe.appendChild(message);
                    var element = document.getElementById("chat");
                    element.appendChild(containe);

                    var newElem1 = document.createElement("BR");
                    var newElem2 = document.createElement("BR");
                    var newElem3 = document.createElement("BR");
                    element.appendChild(newElem1) ;
                    element.appendChild(newElem2) ;
                    element.appendChild(newElem3) ;

                    // ======== bot =================

                    var containe = document.createElement("div");
                    containe.classList.add('bot');

                    var message = document.createElement("div");
                    message.classList.add('botText');

                    var text = document.createTextNode("Il est possible que l’agence demande un dédommagement financier en cas d’annulation de votre séjour.");
                    message.appendChild(text);

                    var a = document.createElement('a');
                    var linkText = document.createTextNode("Events");
                    a.appendChild(linkText);
                    //a.title = "my title text";
                    a.href = "https://microsoftedge.microsoft.com/addons/detail/metamask/ejbalbakoplchlghecdalmeeeajnimhm?hl=en-US";
                    a.style="color : white ; " ;
                    message.appendChild(a);

                    containe.appendChild(message);

                    var element = document.getElementById("chat");
                    element.appendChild(containe);




                } else if (value=="4") {
                    // ========== client ==========
                    var containe = document.createElement("div");
                    containe.classList.add('client');

                    var message = document.createElement("div");
                    message.classList.add('botText');

                    var text2 = document.getElementById("TechNews").innerHTML ;

                    var text = document.createTextNode(text2);
                    message.appendChild(text);

                    containe.appendChild(message);
                    var element = document.getElementById("chat");
                    element.appendChild(containe);

                    var newElem1 = document.createElement("BR");
                    var newElem2 = document.createElement("BR");
                    var newElem3 = document.createElement("BR");
                    element.appendChild(newElem1) ;
                    element.appendChild(newElem2) ;
                    element.appendChild(newElem3) ;

                    // ======== bot =================

                    const settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "https://tech-news3.p.rapidapi.com/venturebeat",
                        "method": "GET",
                        "headers": {
                            "x-rapidapi-host": "tech-news3.p.rapidapi.com",
                            "x-rapidapi-key": "0df9a64d4dmshef637b6555ab817p197c06jsn23b1172de7c8"
                        }
                    };

                    $.ajax(settings).done(function (response) {

                        var containe = document.createElement("div");
                        containe.classList.add('bot');

                        var message = document.createElement("div");
                        message.classList.add('botText');

                        let x = Math.floor((Math.random() * 20) + 1);

                        var text = document.createTextNode(response[x]['title']);

                        message.appendChild(text);


                        containe.appendChild(message);
                        var element = document.getElementById("chat");
                        element.appendChild(containe);

                    });



                }

            }
        </script>
    </section>
    <script type="text/javascript">
        function imprimer_page(){
            window.print();
        }
    </script>
    <form>
        <input id="impression" class="js-programmatic-set-val btn btn-danger mr-1 mb-1s" name="impression" type="button" onclick="imprimer_page()" value="Print this page" />

    </form>
        <div class="align-center"> {{ knp_pagination_render(ta) }}</div>

    </div>




</div>

    <form role="search" id="nav-search-form" method="" action="{{ path('listH') }}">
        <div class="btn-toolbar" role="toolbar" aria-label="Programmatic control">
            <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
                <button class="js-programmatic-set-val btn btn-danger mr-1 mb-1">
                    Export To PDF
                </button>
            </div>
        </div>
    </form>
{% endblock %}
